/*!
 * Start Bootstrap - Stylish Portfolio v5.0.1 (https://startbootstrap.com/template-overviews/stylish-portfolio)
 * Copyright 2013-2018 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-stylish-portfolio/blob/master/LICENSE)
 */
 @import url('./vazir.css');
body,
html {
  width: 100%;
  height: 100%;
}

body {

direction: rtl;
    font-family: 'Vazir', sans-serif;
    display: flex;
}

.btn-xl {
  padding: 1.25rem 2.5rem;
}

.content-section {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.content-section-heading h2 {
  font-size: 3rem;
}

.content-section-heading h3 {
  font-size: 1rem;
  text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.sidean{
  overflow-x: hidden;    
  height: 100%;
    background: #1D809F;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  position: fixed;
 left:0; 
}

/*

.sidean{
  overflow-x: hidden;    
  height: 100%;
  right: 0;
    position: absolute;
  background: #1D809F;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}

*/



.masthead {
  overflow-x: hidden;  
  min-height: 30rem;
  position: relative;

  width: 100%;
  height: auto;
  padding-bottom: 8rem;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.1))), url("../img/bg-masthead.jpg");
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("../img/bg-masthead.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.masthead h1 {
  font-size: 4rem;
  margin: 0;
  padding: 0;
}

@media (min-width: 992px) {
  .masthead {
    height: 100vh;
  }
  .masthead h1 {
    font-size: 5.5rem;
  }
}

/* Side Menu */
#sidebar-wrapper {
  position: fixed;
  z-index: 2;
  right: 0;
  width: 250px;
  height: 100%;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  -webkit-transform: translateX(250px);
  transform: translateX(250px);
  background: #1D809F;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li.sidebar-nav-item a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 15px;
    text-align: center;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  font-size: 1.2rem;
  background: rgba(52, 58, 64, 0.1);
  height: 80px;
  line-height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  text-align: center;
}

.sidebar-nav > .sidebar-brand a {
  color: #fff;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#sidebar-wrapper.active {
  right: 250px;
  width: 250px;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.back-menu {
  position: fixed;
  right: 3px;
  top: 3px;
  width: 30px;
  height: 30px;
  text-align: center;
  color: #fff;
  background: rgba(52, 58, 64, 0.5);
  line-height: 35px;
  z-index: 999;
}

.menu-toggle {
  position: fixed;
  right: 3px;
  top: 3px;
  width: 30px;
  height: 30px;
  text-align: center;
  color: #fff;
  background: rgba(52, 58, 64, 0.5);
  line-height: 35px;
  z-index: 999;
}

.menu-toggle:focus, .menu-toggle:hover {
  color: #fff;
}

.menu-toggle:hover {
  background: #343a40;
}

a {
  color: #1D809F;
}

a:hover, a:focus, a:active {
  color: #155d74;
}

.btn-primary {
  background-color: #1D809F !important;
  border-color: #1D809F !important;
  color: #fff !important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #155d74 !important;
  border-color: #155d74 !important;
}

.btn-secondary {
  background-color: #ecb807 !important;
  border-color: #ecb807 !important;
  color: #fff !important;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  background-color: #ba9106 !important;
  border-color: #ba9106 !important;
}

.btn-dark {
  color: #fff !important;
}

.btn {
  -webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
  font-weight: 700;
}

.bg-primary {
  background-color: #1D809F !important;
}

.text-primary {
  color: #1D809F !important;
}

.text-secondary {
  color: #ecb807 !important;
}




.tt{
position: fixed;
}

.avatar{
height: 50px;
width: 50px;
position: relative;
      vertical-align: middle;
  border-radius: 50%;
  justify-self: center;
  align-self: center;
  cursor: pointer;
}

.form-send{ 
height: 5%;
bottom: 0;

   }
   

.card {
    display: flex;
    flex-direction: column;
    height: auto !important;
}
.card a{
color: #fff;
}

.card--lg{
	 border-radius: 3%;
	 min-height: 100px;
    height: auto ;
	text-align: right;
    margin: 5px 5px 5px 5px;
	background-color: #e3be42;

}

.card--backg {
	background-color: #F1B507;
   height: 700px !important;
   margin-top: 10px;
   margin-bottom: 10px;

   overflow-x: hidden;

}
.card--newsletter {
    background-color: #1D809F;
    color: #fff;
    margin-bottom: 2px;
}
.card--content {
    padding: 1.875rem 2.5rem;
}
.card--content h4 {
    margin: 0;
}
.card-image {
    max-height: 166px;
    z-index: 100;
    width: 100%;
    display: block;

}
.card-image {

    height: auto !important;
    max-height: 360px !important;
}
.card-caption {
    width: 100%;
    z-index: 600;
    height: 90px;
    color: #fff;
    background-color: #2a2a2a;
    padding: 0.875rem 1.5rem;
}
.card-caption--lg {
    padding: 1.875rem 2.5rem;
    height: 190px;
}
.s-caption--tag {
    text-decoration: none;
    font-size: 0.8em;
    color: #f5f5f5;
}
.card-caption .card-caption--title {
    font-size: 1em;
    margin-top: 0;
    font-weight: bold;
}
.card-caption--lg .card-caption--title {
    font-weight: bold;
    font-size: 1.4em;
    margin-top: .6em;
}
.card--icon {
    font-size: 1.5em;
    text-align: left;
}
.card--button {
    text-align: center;
    margin: auto !important;
    text-decoration: none;
    padding: 0.4em 2.125em;
    background-color: #196f89;
}
