{% load static %}<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/font-face.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
   {% block stylesheet %}{% endblock %}
  <title>LogIn</title>
</head>
<body>




	{% block content %}{% endblock %}







    <footer>
      <div class="sideFooter">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi voluptate voluptatum corrupti reprehenderit pariatur quae asperiores soluta in deleniti id.</p>
        </div>
      <div class="linkListParent">
        <ul>
          <li><a class="listLink" href="#">خانه</a></li>
          <li><a class="listLink" href="#">فرصت شغلی</a></li>
          <li><a class="listLink" href="#">مدیران</a></li>
          <li><a class="listLink" href="#">تولید کنندگان</a></li>
          <li><a class="listLink" href="#">لیست تمام دروس</a></li>
        </ul>
      </div>
    </footer>
  </div>
    {% block modal %}{% endblock modal %}
</body>
</html>




