{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'css/style.css'%}">
  <link rel="stylesheet" href="{% static 'css/animate.css' %}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <link href="https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/font-face.css" rel="stylesheet" type="text/css" />

  <title>Profile Page</title>
</head>
<body>
  <div class="wrapper">
    <div class="header headerProfile">
      <p>پروفایل</p>
      <i class="bars fas fa-bars"></i>
      <i class="cross fas fa-times"></i>
    </div>


        {% block content %}{% endblock %}







    <footer>
      <div class="sideFooter">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="linkListParent">
        <ul>
          <li><a class="listLink" href="#">خانه</a></li>
          <li><a class="listLink" href="#">فرصت شغلی</a></li>
          <li><a class="listLink" href="#">مدیران</a></li>
          <li><a class="listLink" href="#">تولید کنندگان</a></li>
          <li><a class="listLink" href="#">لیست تمام دروس</a></li>
        </ul>
      </div>
    </footer>
  </div> <!-- End Of Wrapper -->
      {% block modal %}{% endblock modal %}
</body>
</html>



