{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link href="https://cdn.rawgit.com/rastikerdar/vazir-font/v19.0.0/dist/font-face.css" rel="stylesheet" type="text/css" />
  <title>THREADS NO CONTENT INCLUDED</title>
</head>
<body>
  <!--WRAPPER STARTS HERE-->  
  <div class="chatWrapper">
    <!--HEADER STARTS HERE-->
    <div class="chatHeader">
      
      <!--SETTING MENU BUTTON STARTS HERE-->
      <div class="settingMenuButton">
        <i class="settingButton fas fa-ellipsis-v"></i>
      </div>
      <!--SETTING MENU BUTTON ENDS HERE-->
      
      <!--NOTIFICATION BELL ICON STARTS HERE-->
      <div class="notification">
        <i class="fas fa-bell"></i>
      </div>
      <!--NOTIFICATION BELL ICON ENDS HERE-->
      
      <!--SLOGAN STARTS HERE-->
      <div class="slogan">
        <p class="sloganP">به دانا خوش آمدید</p>
      </div>
      <!--SLOGAN ENDS HERE-->
      <!--PURCHASE BUTTON STARTS HERE-->
      <div class="purchaseButton">
        <button class="purchase">
          <i class="fas fa-shopping-cart"><span class="shoppingMessage">عضویت</span></i>
        </button>
      </div>
      <!--PURCHASE BUTTON ENDS HERE-->
    </div>
    <!--HEADER ENDS HERE-->
    <div class="chatContentWrapper">
      <!--SETTING STARTS HERE-->
      <div class="settingWrapper">
      
        <!--SETTING HEADER STARTS HERE-->
        <div class="settingHeader">
      
          <!--USER IMAGE HOLDER STARTS HERE-->
          <div class="headerContentHolder">
            <div class="userIdAndImage">
              <figure class="userImage">
		<img class="imageOfUser" src="{% static 'images/img_avatar.png' %}" alt="user image">
              </figure>
	      <p class="userId">{{ user.username }}</p>
	      <p class="userNameSetting">@{{ user.username }}</p>
            </div>
            <!--USER IMAGE HOLDER ENDS HERE-->
      
            <!--USER IMAGE CHANGER BUTTON STARTS HERE-->
            <div class="imageChanger">
              <i class="fas fa-camera"></i>
            </div>
          </div>
          <!--USER IMAGE CHANGER BUTTON ENDS HERE-->
        </div>
        <!--SETTING HEADER ENDS HERE-->

        <!--SETTING LIST STARTS HERE-->
        <div class="settingList">
          <ul class="settingListHolder">
            <li class="settingListChilderen">دروس من</li>
            <li class="settingListChilderen">دروس ثبت نام کرده</li>
            <li class="settingListChilderen">پروفایل</li>
            <li class="settingListChilderen">خروج</li>
            <li class="settingListChilderen">لیست کلیه دوره های موجود</li>
          </ul>
        </div>
        <!--SETTING LIST ENDS HERE-->

      </div>
      <!--SETTING ENDS HERE-->


      <!--SIDE THREAD VIEW STARTS HERE-->
      <div class="sideThreadView">

        <!--SIDE VIEW SEARCH STARTS HERE-->
        <div class="sideHeaderChat">
        
          <!--SIDE SEARCH FORM STARTS HERE-->
          <form action="#" class="sideSearch">
            <input class="sideSearchInput" type="text"placeholder="دروس مورد نظر خود را جستجو کنید">
            <button class="sideSearchButton">
              <i class="fas fa-search"></i>
            </button>
          </form>
          <!--SIDE SEARCH FORM ENDS HERE-->
        </div>
        <!--SIDE VIEW SEARCH ENDS HERE-->
      
      
        <!--THE ACTUAL THREADS STARTS HERE-->
        <div class="actualThreadsWrapper">
        
		{% for kurse in kurses %}
          <!--SAMPLE THREADS START HERE-->
	  <a class="classLink" href="{% url 'chat_thread' kurse.id %}">
          <div class="thread threadOne">
            <figure class="userImageHolder">
              <img class="UserThreadImage" src="{% static 'images/img_avatar.png' %}" alt="user image">
            </figure>
            <div class="threaInfos">
		    <p class="userNameForThreads">{{ kurse.name }}</p>
		    <p class="lessonBriefForThreads">{{ kurse.name }}is hier</p>
            </div>
          </div>
          </a>

		{% endfor %}
            <!--SAMPLE THREADS END HERE-->
      
      
        </div>
        <!--THE ACTUAL THREADS ENDS HERE-->
    
      </div>
    
    
      <!--THE PLUSE SIGN GOES HERE FOLKS-->
      <!-- <div class="adder">
        <i class="fas fa-plus-circle"></i>
      </div> -->
      <!--THE PLUSE SIGN ENDS HERE FOLKS-->
    
    
      <!--SIDE THREAD VIEW ENDS HERE-->
  
    
    
      <!--CHAT VIEWER CONTENT GOES HERE-->
      <div class="chatWrapperLeft">


<!--FOR THIS DOCUMENT THIS PART IS DELETED THIS WAS THE contentviewer CLASS-->




      </div>
    </div>
    <!--CHAT VIEWER CONTENT ENDS HERE-->
  </div>
  <!--WRAPPER ENDS HERE-->


  <div class="modal"> <!--WIDTH AND HEIGHT 100VH/VW-->
    <div class="popUp"> <!--THE ACTUAL CONTENT GOES IN HERE AND THIS IS THE MODAL-->
      <div class="popUpHeader">
        <div class="closeIt">
          <i class="far fa-times-circle"></i>
        </div>
        <p class="popUpMessage">برای ثبت نام دوره لطفا اطلاعات خود را وارد نمایید</p>
      </div>
      <div class="bankAPIButton">
        <button class="bank">ورود به سامانه بانک</button>
      </div>
    </div>
  </div>
  <script src="{% static 'js/chat.js' %}"></script>
</body>
</html>
