{% extends "base.html" %}

{% block content %}
<div class="wrapper">
    <div class="header">
      <p>ورود</p>
    </div>
    
    <div class="registerForm">
	<form class="registrationForm" method="post" action="{% url 'login' %}">
	{% csrf_token %}
        <input class="userName" type="text" name="userName" placeholder="username">:نام کاربری
        <input class="userPassword" type="text" name="userPassword">:کلمه عبور
        <input class="registerButton" id="generalButtonID" type="submit" value="ورود">
      </form>
      {% if  error  %}
	<p> etwas ist falsch </p>
      {% endif %}
    </div>
{% endblock %}
