{% extends "base.html" %}

{% block content %}

  <div class="wrapper">
    <div class="header">
      <p>خانه</p>
    </div>
    <div class="mainPageContent">
      <div class="entranceMessage">
        <p>به سامانه یک پارچه <span>دانا</span> خوش آمدید</p>
      </div>
      <div action="#" class="entrance">
	      <a class="button enterViaNumber" href={% url "login" %}><button class="button enterViaNumber" type="button" name="enterViaNumber">ورورد با شماره همراه</button></a>
	      <a class="button enterViaEmail" href={% url "login"%}><button class="button enterViaEmail" type="button" name="enterViaEmail" >ورود با پست الکترونیکی</button></a>
	      <a class="button newUser" href={% url "register" %}><button class="button newUser" type="button" name="newUser">ثبت نام</button></a>
      </div>  
    </div>
{% endblock %}

