{% extends "base_profile.html" %}

{% block content %}
{% load staticfiles %}




    <div class="contentContainerParent">
      <div class="leftMainContent">
        <div class="leftContents">
          <div class="changer userNameChange">
            <p class="messageLable userName">تغییر نام کاربری</p>
            <button class="change">تغییر</button>
            <div class="changerDiv animated">
              <form action="#" class="changeInput">
                <input class="changeInputChild" type="text" name="changeInputChild" placeholder="نام کاربری جدید">
                <button class="updateContent">ثبت</button>
              </form>
            </div>
          </div>
          <div class="changer userEmailChange">
            <p class="messageLable userEmail">تغییر پست الکترونیکی</p>
            <button class="change">تغییر</button>
            <div class="changerDiv animated">
              <form action="#" class="changeInput">
                <input class="changeInputChild" type="email" name="changeInputChild" placeholder="پست الکترونیکی جدید">
                <button class="updateContent">ثبت</button>
              </form>
            </div>
          </div>
          <div class="changer userPasswordChange">
            <p class="messageLable userPassword">تغییر رمز</p>
            <button class="change">تغییر</button>
            <div class="changerDiv animated">
              <form action="#" class="changeInput">
                <input class="changeInputChild" type="email" name="changeInputChild" placeholder="رمز جدید">
                <button class="updateContent">ثبت</button>
              </form>
            </div>
          </div>
        </div> <!-- end of left side actual container -->
      </div> <!-- end of left side content parent -->
      <div class="rightSide animated">
        <div class="sideHeader"></div>
        <figure class="avatarImage">
		<img class="ctualAvatarImage" src="{% static 'images/img_avatar.png' %}" alt="">
        </figure>
        <div class="menuList">
          <ul class="menuListChild">
            <li class="listChildren"><a class="listLinks" href="#">خانه</a></li>
            <li class="listChildren"><a class="listLinks" href="#">پروفایل</a></li>
            <li class="listChildren"><a class="listLinks" href="#">دروس  من</a></li>
            <li class="listChildren"><a class="listLinks" href="#">دوره ها</a></li>
            <li class="listChildren"><a class="listLinks" href="#">خروج</a></li>
          </ul>
        </div>
        <div class="socilaParent">
          <div class="social">
            <a href="#" class="Telegram fab fa-telegram"></a>
            <a href="#" class="GooglePlus fab fa-google-plus"></a>
            <a href="#" class="Twitter fab fa-twitter"></a>
            <a href="#" class="YouTube fab fa-youtube"></a>
          </div>
        </div>
      </div> <!-- end of right side menu -->
    </div>






{% endblock %}


{% block modal %}
<script src="{% static 'js/profile.js' %}" type="text/javascript"></script>
{% endblock modal %}




