{% extends "base.html" %}
{% load staticfiles%}

{% block content %}
<div class="wrapper">
    <div class="header">
        

      <p>ثبت نام</p>
    </div>
    <div class="registerForm">
	<form class="registrationForm" method="post" action="{% url 'register' %}">
	{% csrf_token %}	    
        <input class="firstName" type="text" name="firstName"><label class="firstNameLabel" for="firstName" placeholder="jj">:نام</label>
        <input class="familyName" type="text" name="familyName"><label class="familyNameLabel" for="familyName">:نام خانوادگی</label>
        <input class="userEmail" type="email" name="userEmail"><label class="userEmailLabel" for="userEmail">:پست الکترونیکی</label>
        <input class="userPhone" type="text" name="userPhone" ><label class="userPhoneLabel" for="userPhone">:تلفن همراه</label>
	<input class="userName" type="text" name="userName"><label class="userNameLabel" for="userName" id="id_username" >:نام کاربری</label>
        <input class="userPassword" type="password" name="userPassword"><label class="userPasswordLabel" for="userPassword">:کلمه عبور</label>
        <input class="userPasswordRepeat" type="password" name="userPasswordRepeat"><label class="userPasswordRepeatLabel" for="userPasswordRepeat">:تکرار کلمه عبور</label>
      <button class="registerButton" id="generalButtonID" type="submit">ثبت اطلاعات</button>
      </form>
    </div>



  
{% endblock %}

{% block modal %}
<script src="{% static 'js/globalSource.js' %}" type="text/javascript"></script>
{% endblock modal %}


