{% extends "base.html" %}

{% block content %}



    <header class="masthead d-flex">
      <div class="container text-center my-auto">
      
              	<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-4 text-center"></div>
			<div class="col-md-4 col-sm-4 col-xs-4 text-center">
				<form class="form-signin" method="post" action="{% url 'add_kurse' %}">
                {% csrf_token %}

      					<h2 class="form-signin-heading">لطفا کلاس خود را بسازید</h2>
					<br>
      					<input type="username" class="form-control" name="name" placeholder="نام کلاس" required="" autofocus="" />
				<!--	<br>
					<input type="file" class="form-control-file" name="photo" required=""/>
      					<label class="checkbox">
					-->
					<br>
      					<button class="btn btn-lg btn-primary btn-block" type="submit">ساختن</button><br>

    				</form>
      </div>
      			<div class="col-md-4 col-sm-4 col-xs-4 text-center"></div>
      			</div>
      <div class="overlay"></div>
    </header>




{% endblock %}
