{% load static %}<!DOCTYPE html>
<html>

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="abtin" >

    <title>Dana</title>
 {% block stylesheet %}
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/stylish-portfolio.css' %}" rel="stylesheet">
    {% endblock %}
  </head>

  <body id="page-top">




{% if user.is_authenticated %}

{% block backicon %}
{% endblock backicon %}
    <a class="menu-toggle rounded" href="#">
      <i class="fas fa-bars"></i>
    </a>
    <nav id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
		<a class="js-scroll-trigger" href="{% url 'main' %}">دانا</a>
        </li>
        <li class="sidebar-nav-item">
		<a class="js-scroll-trigger" href="{% url 'search' %}">جستجو کلاس‌ها</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="{% url 'chat' %}">کلاس‌ها</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="{% url 'add_kurse' %}">ساختن کلاس جدید</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#portfolio">درباره ما</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#contact">ارتباط با ما</a>
        </li>
         <li class="sidebar-nav-item">
          <a class="js-scroll-trigger font-weight-bold " href="{% url 'logout' %}">خروج</a>
        </li>
      </ul>
    </nav>

{% block endsidemenu %}{% endblock endsidemenu %}

{% endif %}



        {% block content %}{% endblock %}






    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'js/stylish-portfolio.min.js' %}"></script>

  </body>

</html>
