{% extends 'base.html' %} 



{% block content%}


<!-- Header -->
    <header class="masthead">
      <div class="container-fluid text-center">
      	<div class="row">
      

      	
      	
      	
      	
      	<div class="col-sm-9 col-xs-9 col-lg-9 col-md-9 tt">

 				<div class="card card--backg">
      			<form class="form-send" method="post" action="{% url 'add_comment'  %}">
			{% csrf_token %}
						<div class="col-sm-10 col-xs-10 col-lg-10 col-md-10">
          {% for lektion in c_kurse.lektion_set.all %}

							<div class="card--lg card--conten">
								<p>
								{{ lektion.text}}
								</p>
								{% if is_admin %}
								<a href="{% url 'remove_lektion' lektion.id %}"><i class="fa fa-trash text-danger"></i> </a>
								{% endif %}
							</div>
							<div class="col-md-1 col-lg-1 col-sm-1 col-xs-1 ">
								<input type="radio" name="lektion_radio" value="{{ lektion.id }}" />
							</div>
								<div class="col-sm-11 col-md-11 col-lg-11 col-xs-11">
						        {% for comment in lektion.comment_set.all %}
								{% if is_admin or comment.show or request.user == comment.auther %}
									<div class="card--lg card--content">
										<p>
										{{ comment.text }}
										</p>
										{% if is_admin %}
										<a href="{% url 'show_comment' comment.id %}"><i class="fa fa-eye fa-lg {% if comment.show %}text-success{% else%}text-danger{% endif %}"></i></a>
										<a href="{% url 'remove_comment' comment.id %}"><i class="fa fa-trash text-danger"></i> </a>
										{% endif %}
										{% if not comment.show and request.user == comment.auther %}
											<p class="text-danger" >در انتظار تایید مدرس</p>
										{% endif %}
									</div>	
								{% endif %}
							{% endfor %}
								</div>
	  {% endfor %}
						</div>
				</div>		
						
						
				<div class="form-row">
					<div class="input-group">
						{% if is_followed %}
  						<input type="text" class="form-control" name="content" placeholder="متن خود را وارد کنید ..." >
  						<div class="input-group-append">
    						<button class="btn btn-primary btn-outline-secondary"  type="submit">ارسال نظر</button>
						{% if is_admin%}<button class="btn btn-primary btn-outline-secondary"  type="submit" formaction="{% url 'add_lektion' c_kurse.id %}">ارسال درس</button>{% endif %}
  						</div>
						{% else %}
						<button class="btn btn-primary  btn-lg btn-primary btn-block" type="submit" formaction="{% url 'make_follow' c_kurse.id%}">دنبال کردن</button> 
						{% endif %}
					</div>
				</div>
      			</form>	 
      	</div>
      	
      	
   	
      	
      	
      	
      	
      	
      	
          <div class="col-sm-3 col-xs-3 col-lg-3 col-md-3 sidean hidden-xs hidden-sm " >


	{% for kurse in kurses %}
	      <div class="card card--newsletter card--content">
		 <div class="row">
			 <a href="{% url 'chat_thread' kurse.id %}" >{{ kurse.name }} : {{ kurse.auther}}</a>
		</div>
	     </div>
	{% endfor %}


	  </div>
       </div>
      </div>

    </header>


   {% endblock %}
