{% extends 'base.html' %} 
{% block content%}


<!-- Header -->
    <header class="masthead">
      <div class="container-fluid text-center">
      	<div class="row">
      	    <div class="col-sm-9 col-xs-9 col-lg-9 col-md-9 tt">
 	 	<div class="card card--backg">
		    <div class="col-sm-11 col-xs-11 col-lg-11 col-md-11">


		    </div>
             	</div>
		
      	    <form class="form-send" method="post" action="#">
      		<div class="form-row">
      		    <div class="col-md-11 col-lg-11 col-sm-11 col-xs-11">

      			<input type="text"  class="form-control" name="username" placeholder="متن خود را اینجا بنویسید...." required="" autofocus="" />
      	
      		    </div>
      	 	    <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1">
      			<button type="submit" class="btn btn-primary mb-2"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
      		    </div>
      	      </div>
      	   </form> 
      	</div>
      	
      	
      	
      	
      	
      	
      	
          <div class="col-sm-3 col-xs-3 col-lg-3 col-md-3 sidean " >


	{% for kurse in kurses %}
	      <div class="card card--newsletter card--content">
		 <div class="row">
			 <a href="{% url 'chat_thread' kurse.id %}" >{{ kurse.name }}:{{ kurse.auther}}</a>
		</div>
	     </div>
	{% endfor %}


	  </div>
       </div>
      </div>

    </header>


   {% endblock %}
