{% extends "base.html" %}

{% block content %}


    <header class="masthead d-flex">
      <div class="container text-center my-auto">
        	<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-4 text-center"></div>
			<div class="col-md-4 col-sm-4 col-xs-4 text-center">


				<form class="form-signin" method="post" action="{% url 'login' %}">
					{% csrf_token %}
      					<h2 class="form-signin-heading">لطفا وارد شوید</h2>
					<br>
      					<input type="username" class="form-control" name="username" placeholder="نام کاربری" required="" autofocus="" />
					<br>
					<input type="password" class="form-control" name="password" placeholder="کلمه عبور" required=""/>
      					<label class="checkbox">

					<br>
      					<button class="btn btn-lg btn-primary btn-block" type="submit">ورود</button><br>
					<a href="{% url 'register' %}">ساختن حساب جدید؟ </a>
                                        {% if error %}<p class="text-danger"> نام کاربری یا کلمه عبور اشتباه است</p>{% endif %}
    				</form>
  			</div>
			<div class="col-md-4 col-sm-4 col-xs-4 text-center"></div>

		</div>
	
       
      <div class="overlay"></div>
    </header>



{% endblock %}
