{% extends "base.html" %}

{% block content %}



    <header class="masthead d-flex">
      <div class="container text-center my-auto">
        <h1 class="mb-1">به دانا خوش‌آمدید</h1>
        <h3 class="mb-5">
          <em>مکانی برای تبادل دانش</em>
        </h3>	
{% if not user.is_authenticated %}
	<a class="btn btn-primary btn-xl js-scroll-trigger" href="{% url 'login' %}">ورود</a><br><br>
	<a href="{% url 'register' %}"> ساختن حساب جدبد </a>
      </div>
      <div class="overlay"></div>
    </header>
    {% endif %}

{% endblock %}
