{% extends "base.html" %}

{% block content %}


    <!-- Header -->
    <header class="masthead d-flex">
      <div class="container text-center my-auto">
 		        	<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-4 text-center"></div>
			<div class="col-md-4 col-sm-4 col-xs-4 text-center"> 
    				<form class="form-signini" method="post" action="{% url 'register' %}">       
					{% csrf_token %}
      					<h2 class="form-signin-heading">ساختن حساب جدید </h2>
					<br>
      					<input type="text" class="form-control" name="username" placeholder="نام‌کاربری" required="true" autofocus="" />
					<br>
      					<input type="password" class="form-control" name="password" placeholder="کلمه عبور" required="true"/>      
					<br>
					<input type="password" class="form-control" name="passwordRepeat" placeholder="تکرار کلمه عبور" required="true"/>      
					<br>
					<button class="btn btn-lg btn-primary btn-block" type="submit">ساختن</button><br>   
					{% if errorpass %}<p class="text-danger">رمز عبور با تکرار خود برابر نیست</p>{% endif %} {% if erroruser %}<p class="text-danger">نام کاربری دیگری انتخاب کنید</p> {% endif %}
			
    				</form>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-4 text-center"></div>
		</div>
	
       </div>
      <div class="overlay"></div>
    </header>





{% endblock %}
