{% extends "base.html" %}

{% block content %}


    <header class="masthead d-flex">


<div class="container-fluid my-auto">
<br>
    <div class="row">
    		<div class="col-3"></div>
        <div class="col-6 text-right">
		<form method="post" action="{% url 'search' %}">
			{% csrf_token %}
            <div class="input-group">
                <input class="form-control " type="search" name="search"  placeholder="جستجو">
                    <span class="input-group-btn">

                    <button class="btn btn-primary" type="submit">
								<i class="fas fa-search"></i>
                    </button>
               </span>
            </div>
		</form>



         <br>
	 {% if empty %}
			<h2 class="text-center">کلاسی یافت نشد</h2>
	{% endif %}
			{% if resault %}
				<h2 class="text-center">نتیجه جستجوی شما</h2>
				<br>
				<table class="table">
					<thead align:"right">
						<tr>
							<th><p class="text-right"> کد </p></th>
							<th><p class="text-right"> نام </p></th>
							<th><p class="text-left"> لینک ورود </p></th>
						</tr>
					</thead>
					<tbody>
						{% for kurse in resault %}
						<tr>
							<td>
								<p>{{ kurse.id }}</p>
							</td>
							<td>
								<p>{{ kurse.name }}</p>
							</td>
							<td class="text-left">
								<a href="{% url 'chat_thread' kurse.id %}"><button type="button"  class="btn btn-primary" >
									ورود
							
							</button>
								</a>
							</td>
						</tr>
						{% endfor %}

					</tbody>
				</table>



				{% endif %}

        </div>
        <div class="col-3"></div>
    </div>
</div>

       
      <div class="overlay"></div>
    </header>



{% endblock %}
