*{
font-family: 'Vazir', sans-serif;
  box-sizing: border-box;
}

body{
  display: grid;
  padding: 0;
  margin: 0;
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
}
.wrapper{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  width: 100%;
  max-width: 100%;
  height: 100vh;
}
.header{
  display: grid;
  grid-template-columns: 100px 40px;
  grid-template-rows: 1fr;
  width: 100%;
  max-width: 100%;
  height: 10vh;
  background:#2196F3;
}
.header > p{
  display: grid;
  color: #222222;
  font-size: 20px;
  margin: 0 25px 0 10px;
  justify-self: right;
  width: 100px;
  grid-area: paragraph;
}
.registerForm{
  display: grid;
  width: 700px;
  height: 500px;
  justify-self: center;
}
.registrationForm{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  align-self: center;
  justify-self: center;
}
.registrationForm > input{
  display: grid;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ffcd6f;
  background: antiquewhite;
}
#generalButtonID{
  background: #ffcd6f;
  border: 1px solid #ffcd6f;
  border-radius: 5px;
  width: 100px;
  height: 50px;
  justify-self: center;
  cursor: pointer;
}
footer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  width: 100%;
  max-width: 100%;
  height: 10vh;
  background: #2196F3;
  margin-bottom: -14px;
}

li{
  text-decoration: none;
  list-style: none;
  color: #222222;
  font-size: 18px;
  text-align: right;
  padding-right: 10px;  
}
a{
  text-decoration: none;
  list-style: none;
  color: #222222;
  font-size: 18px;
}
.sideFooter{
  border-right: 1px solid black;
  margin: 8px;
}
.sideFooter p{
  padding: 10px;
  text-align: right;
  padding-right: 10px; 
}
/*------------------------------------------main page style---------------------------------------------------*/
.mainPageContent{
  display: grid;
  justify-self: center;
  height: 72vh;
  width: 60vw;
  max-width: 60vw;
  background: #8b8b8b;
}
.entranceMessage{
  display: grid;
  justify-self: center;
  align-self: center;
}
.entranceMessage > p{
  color: #222222;
  font-size: 20px;
}
.entrance{
  display: grid;
  justify-self: center;
  grid-template-columns: repeat(3, 1fr);
  height: 25%;
  grid-gap: 10px;
}
.button{
  display: grid;
  background: antiquewhite;
  color: #222222;
  border: 1px solid #ffcd6f;
  font-size: 17px;
  border-radius: 5px;
  width: 190px;
  height: 50px;
}
/* ---------------------------------------------------end od main page style------------------------------------------------------ */


/* ---------------------------------------------------profile style start--------------------------------------------------------- */
/* profile page global styles */
.messageLable{
  font-size: 20px;
  align-self: center;
  width: 200px;
  height: 50px;
}
i.bars{
  display: grid;
  justify-self: right;
  align-self: center;
  width: 50px;
  height: 50px;
  color: antiquewhite;
  font-size: 20px;
  grid-area: bars;
  padding: 6px;
  cursor: pointer;
}
i.barsClose{
  display: none;
}
i.cross{
  display: none;
  justify-self: right;
  align-self: center;
  width: 50px;
  height: 50px;
  color: antiquewhite;
  font-size: 20px;
  grid-area: bars;
  padding: 6px;
  cursor: pointer;
}
i.crossOpen{
  display: grid;
  justify-self: right;
  align-self: center;
  width: 50px;
  height: 50px;
  color: antiquewhite;
  font-size: 20px;
  grid-area: bars;
  padding: 6px;
  cursor: pointer;
}
/* end of profile page global styles */
.contentContainerParent{
  display: grid;
  grid-template-columns: auto auto 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
  "leftMainContent leftMainContent rightSide"
  "leftMainContent leftMainContent rightSide"
  "leftMainContent leftMainContent rightSide"
  "leftMainContent leftMainContent rightSide";
  justify-self: center;
}
.leftMainContent{
  display: grid;
  grid-area: leftMainContent;
  width: 73vw;
  max-width: 73vw;
  height: 72vh;
  justify-self: center;
}
.changerDiv{
  display: none;
  width: 80%;
  max-width: 80%;
  align-self: center;
}
.changerDivOpen{
  display: grid;
  width: 80%;
  max-width: 80%;
  align-self: center;
}
.changeInput{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-gap: 100px;
}
.leftContents{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  background: #cccbcb;
  width: 80%;
  justify-self: center;
}
.userNameChange{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  width: 80%;
  max-width: 80%;
  justify-self: center;
}
.userEmailChange{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  width: 80%;
  max-width: 80%;
  justify-self: center;
}
.userPasswordChange{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  width: 80%;
  max-width: 80%;
  justify-self: center;
  padding-bottom: 20px;
}
.change{
  display: grid;
  width: 100px;
  height: 50px;
  align-self: center;
  justify-self: center;
  background: #0077aa;
  border: 1px solid #0077aa;
  color: #222222;
  font-size: 17px;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
  box-shadow: 0.5px 0.5px 15px -1.5px #555555;
  cursor: pointer;
}
.changeInputChild{
  display: grid;
  width: 170px;
  height: 50px;
  background: antiquewhite;
  border: 1px solid #ffcd6f;
  caret-color: #0077aa;
  border-radius: 5px;
  box-shadow: 0.5px 0.5px 15px -1.5px #555555;

}
.updateContent{
  display: grid;
  width: 100px;
  height: 50px;
  align-self: center;
  justify-self: center;
  background: #0077aa;
  border: 1px solid #0077aa;
  color: #222222;
  font-size: 17px;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
  box-shadow: 0.5px 0.5px 15px -1.5px #555555;
  cursor: pointer;
}
.rightSide{
  display: none;
  grid-area: rightSide;
  width: 25.9vw;
  max-width: 25.9vw;
  height: 72vh;
  box-shadow: -0.5px 1.5px 15px -1.5px #555555;
}
.sideOpen{
  display: grid;
  grid-area: rightSide;
  width: 25.9vw;
  max-width: 25.9vw;
  height: 72vh;
  box-shadow: -0.5px 1.5px 15px -1.5px #555555;
}
.sideHeader{
  display: grid;
  background: #555555;
  height: 160px;
  width: 100%;
  max-width: 100%;
}
.avatarImage{
  display: grid;
  width: 95px;
  height: 95px;
  justify-self: right;
  margin-top: -55px;
}
.ctualAvatarImage{
  display: grid;
  width: 95px;
  height: 95px;
  border-radius: 50%;
}
.menuList{
  display: grid;
  align-self: center;
  width: 100%;
  max-width: 100%;
  height:100%;
}
.menuListChild{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  color: #222222;
}
.listChildren{
  width: 70px;
  justify-self: right;
  text-align: right;
  padding-right: 20px;
}
.socilaParent{
  display: grid;
  width: 100%;
  max-width: 100%;
  height: 70px;
  margin-top: 50px;
}
.social{
  display: grid;
  grid-template-columns: repeat(4, 60px);
  grid-gap: 1px;
  justify-self: center;

}
.YouTube{
  color: red;
  font-size: 30px;

}
.Telegram , .Twitter{
  color: rgb(42, 109, 255);
  font-size: 30px;

}
.GooglePlus{
  color: tomato;
  font-size: 30px;

}




/* ---------------------------------------------------end of profile style-------------------------------------------------------- */




/* ############################CHAT STYLE##################################### */
.chatWrapper{
  display: grid;
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-self: center;
  overflow-x: hidden;
}
.chatHeader{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 60px 60px 1fr 200px;
  width: 100vw;
  max-width: 100vw;
  height: 6vh;
  background: #4a148c;
}
.settingMenuButton, .notification, .purchaseButton{
  display: grid;
  margin-left: 30px;
  align-self: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: #ab47bc;
  border: none;
  cursor: pointer;
}
.closeIt{
  display: grid;
  margin-left: 10px;
  margin-top: 10px;
  align-self: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: #ab47bc;
  border: none;
  cursor: pointer;
}
.showMore{
  display: grid;
  margin-left: 5px;
  align-self: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: #ab47bc;
  border: none;
  cursor: pointer;
  transform: rotate(0deg);
  transition: .6s ease-in-out all;
}
.showMoreOpen{
  display: grid;
  margin-left: 5px;
  align-self: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: #ab47bc;
  border: none;
  cursor: pointer;
  transform: rotate(180deg);
  transition: .6s ease-in-out all;
}
.showMoreOpen:focus{
  outline: 0;
}
.showMore:focus{
  outline: 0;
}
.crossCircle{
  display: grid;
  align-self: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: #ab47bc;
  cursor: pointer;
}
.purchase{
  border: none;
  background: transparent;
}
.shoppingMessage{
  font: small-caption;
  font-family: Tahoma;
  padding-left: 15px;
}
.purchaseButton{
  display: grid;
  margin-left: 30px;
  align-self: center;
  width: 150px;
  height: 38px;
  border-radius: 25px;
  background: #ab47bc;
}
.fa-ellipsis-v, .fa-bell, .fa-shopping-cart, .fa-camera, .fa-times-circle, .fa-search, .fa-angle-double-down, .fa-paper-plane{
  font-size: 18px;
  text-align: center;
  color: #f3e5f5;
  align-self: center;
  justify-self: center;
  cursor: pointer;
}
.fa-toggle-on, .fa-toggle-off{
  font-size: 28px;
  text-align: center;
  align-self: center;
  justify-self: center;
  cursor: pointer;
}

.slogan{
  display: grid;
  justify-self: center;
  align-self: center;
  width: 250px;
  height: 38px;
  border-radius: 25px;
  border: 1px solid #ab47bc;
}
.sloganP{
  color: #f3e5f5;
  justify-self: center;
  align-self: center;
  margin: 5px;
}
.settingWrapper{
  display: none;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  width: 18vw;
  max-width: 18vw;
  min-width: 18vw;
  height: 94vh;
  position: absolute;
  top: 6vh;
  background: #222222;
}
.settingWrapperOpen{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  width: 18vw;
  max-width: 18vw;
  min-width: 18vw;
  height: 94vh;
  position: absolute;
  top: 6vh;
  background: #222222;
  border-right: 1px solid #4a148c;
}
.settingHeader{
  display: grid;
  width: 100%;
  height: 185px;
  background: #ffcdd2;
  border-radius: 2px;
}
.headerContentHolder{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  background: transparent;
  justify-self: center;
  align-self: center;
  height: 160px;
}
.userIdAndImage{
  display: grid;
  width: 100%;
  height: 100px;
  grid-template-columns: 1fr;
  grid-template-rows: 90px 20px 20px;
}
.userId, .userNameSetting{
  color: #525252;
  justify-self: center;
  align-self: center;
  padding-top: 15px;
}

.userImage{
  display: grid;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  justify-self: center;
  align-self: center;
  cursor: pointer;
}
.imageOfUser{
  display: grid;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  justify-self: center;
  align-self: center;
  cursor: pointer;
}
.imageChanger{
  display: grid;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  justify-self: center;
  align-self: center;
  background: #ab47bc;
}
.chatContentWrapper{
  display: grid;
  grid-template-columns: 22vw 78vw;
  grid-template-rows: 1fr;
  width: 100vw;
  min-width: 100vw;
  max-width: 100vw;
  height: 94vh;
  min-height: 94vh;
  max-height: 94vh;


}
.settingList{
  display: grid;
  margin-top: -300px;
  width: 100%;
  height: 350px;
  justify-self: center;
  align-self: center;
}
.settingListHolder{
  display: grid;
  width: 95%;
  height: 350px;
  justify-self: center;
  align-self: center;
}
.settingListChilderen{
  color: #ffcd6f;
}
.sideThreadView{
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-rows: auto;
  width: 22vw;
  height: 94vh;
  background: #222222;
}
.sideHeaderChat{
  display: grid;
  grid-template-columns: 1fr 30px;
  grid-template-rows: 1fr;
  width: 100%;
  height: 60px;
  background: #e57373;
  border-radius: 3px;
}
.sideSearch{
  display: grid;
  grid-template-columns: 1fr 50px;
  grid-template-rows: 1fr;
  grid-gap: 10px;
  width: 95%;
  height: 50px;
  justify-self: center;
  align-self: center;
}
.sideSearchInput{
  width: 100%;
  height: 38px;
  justify-self: center;
  align-self: center;
  border-radius: 25px;
  border: 1px solid #4a148c;
  text-align: right;
  color: #4a148c;
  padding: 5px;
  background: transparent;
}
.sideSearchButton{
  width: 38px;
  height: 38px;
  background: transparent;
  border-radius: 50%;
  border: 1px solid #4a148c;
  justify-self: center;
  align-self: center;
  cursor: pointer;
}
.sideSearchInput:focus{
  outline: 0;
}
.purchase:focus{
  outline: 0;
}
.actualThreadsWrapper{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
  overflow-y: scroll; 
  overflow-x: hidden;
  width: 22vw;
  height: 94vh;
  background: #222222;
}
.actualThreadsWrapper::-webkit-scrollbar-thumb
{
	border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
.actualThreadsWrapper::-webkit-scrollbar
{
	width: 7px;
	background-color: #F5F5F5;
}
.actualThreadsWrapper::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 25px;
	background-color: #F5F5F5;
}
.userImageHolder, .UserThreadImage{
  display: grid;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  justify-self: center;
  align-self: center;
  margin: 2px;
}
.threaInfos{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  margin-left: 10px;
  width: 100%;
  height: 100px;
}
.userNameForThreads, .lessonBriefForThreads{
  color: #cccbcb;
  font-size: 14px;
}
.thread{
  width: 100%;
  height: 100px;
  display: grid;
  grid-template-columns: 90px 1fr;
  grid-template-rows: 1fr;
}
.classLink{
  width: 100%;
  height: 100px;
  display: grid;
}
.chatWrapperLeft{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  width: 78vw;
  height: 102vh;
  box-sizing: border-box;
  overflow-x: hidden;  
  overflow-y: scroll;
  background: #3a3a3a;
}
.chatWrapperLeft::-webkit-scrollbar-thumb
{
	border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
.chatWrapperLeft::-webkit-scrollbar
{
	width: 7px;
	background-color: #F5F5F5;
}
.chatWrapperLeft::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 25px;
	background-color: #F5F5F5;
}
.contentViewer{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  width: 100%;
  height: 120vh;
  margin-left: 10px;
  margin-top: 10px;
  padding-right: 25px;
}
.classPart{
  display: grid;
  width: 100%;
  height: auto;
  background: #7397e5;
  border-radius: 2px;
  margin-top: 10px;
  border-left: 8px solid #ffcd43;
}
.sampleLesson{
  padding: 22px 22px 22px 22px;
  color: #333333;
  align-self: center;
  justify-self: center;
  text-align: justify;

}
.acardion{
  display: grid;
  grid-template-columns: 50px 200px;
  width: 100%;
  height: 65px;
  background: #d9fca1;
  border-left: 8px solid #9cff5b;
  margin-top: 10px;
  border-radius: 2px;
}
.commentDescription{
  font-size: 20;
  color: #333333;
  justify-self: center;
  align-self: center;
}
.comments{
  display: none;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  width: 100%;
  height: auto;
}
.commentsOpen{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  width: 100%;
  height: auto;
}
.comentChildren{
  display: grid;
  grid-template-columns: auto 50px;
  grid-template-rows: auto;
  width: 100%;
  height: auto;
  background: #ab47bc;
  margin-right: 25px;
  border-radius: 2px;
  border-left: 8px solid #d9fca1;
  margin-top: 10px;
}
.commentP{
  color: #333333;
  padding-left: 10px;
}
.viewToggle{
  display: grid;
  margin-right: 65px;
  width: 100px;
  height: 30px;
  justify-self: center;
  align-self: center;
}
.toggleOff{
  display: grid;
  align-self: center;
  justify-self: center;
  width: 50px;
  height: 30px;
  background: #535353;
  border-radius: 25px;
}
.fa-toggle-off{
  color: #00ff00;
}
.toggleOn{
  display: grid;
  align-self: center;
  justify-self: center;
  width: 50px;
  height: 30px;
  background: #535353;
  border-radius: 25px;
  margin-right: 5px;
}
.fa-toggle-on{
  color: red;  
}
.commentForm{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  height: 65px;
  margin-right: 25px;
  border-radius: 2px;
  border-left: 8px solid #826cff;
  margin-top: 10px;
  background: #555555;
}
.commentHolder{
  display: grid;
  grid-template-columns: 1fr 90px;
  grid-template-rows: 1fr;
  grid-gap: 5px;
  justify-self: center;
  align-self: center;
  width: 90%;
  height: 60px;
}
.commentInput{
  width: 100%;
  height: 50px;
  justify-self: center;
  align-self: center;
  border-radius: 25px;
  background: #ffcd6f;
  border: none;
  text-align: right;
  padding-right: 15px;
  font-size: 17px;
}
.commentInput:focus{
  outline: 0;
}
.commentButton{
  width: 100%;
  height: 50px;
  justify-self: center;
  align-self: center;
  border-radius: 25px;
  background: #ffc107;
  border: none;
  text-align: center;
  font-size: 17px;
}
.commentButton:focus{
  outline: 0;
}
.chatInputHolder{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  height: 65px;
  margin-right: 25px;
  border-radius: 2px;
  border-left: 8px solid #826cff;
  margin-top: 10px;
  background: #555555;
  position: relative;
  bottom: -40px;
}
.chatForm{
  display: grid;
  grid-template-columns: 1fr 90px;
  grid-template-rows: 1fr;
  grid-gap: 5px;
  justify-self: center;
  align-self: center;
  width: 90%;
  height: 60px;
}
.chatInput{
  width: 100%;
  height: 50px;
  justify-self: center;
  align-self: center;
  border-radius: 25px;
  background: #ffcd6f;
  border: none;
  text-align: right;
  padding-right: 15px;
  font-size: 17px;
}
.chatInput:focus{
  outline: 0;
}
.chatSenderButton{
  display: grid;
  align-self: center;
  justify-self: center;
  width: 38px;
  height: 38px;
  border: 1px solid #4a148c;
  border-radius: 50%;
  background: transparent;
}
.chatSenderButton:focus{
  outline: 0;
}
.modal{
  display: none;
  width: 100vw;
  height: 100vh;
  background: #33333357;
  position: absolute;
  top: 0;
  left: 0;
}
.modalOpen{
  display: grid;
  width: 100vw;
  height: 100vh;
  background: #33333357;
  position: absolute;
  top: 0;
  left: 0;
}

.popUp{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px auto 70px;
  grid-gap: 80px;
  width: 400px;
  height: 500px;
  justify-self: center;
  align-self: center;
  background: #ffff8d ;
  border-radius: 5px;
}
.popUpMessage{
  color: #333333;
  justify-self: center;
  align-self: center;
  width: 90%;
  height: 50px;
  margin: 23px;
  padding: 15px;
}
.bankAPIButton{
  display: grid;
  width: 200px;
  height: 50px;
  align-self: center;
  justify-self: center;
}
.bank{
  border: 1px solid #4a148c;
  border-radius: 25px;
  background: #4a148c96;
  color: #2b2b2b;
  font-size: 20px;
}
/* ############################CHAT STYLE ENDS HERE##################################### */

@media (max-width: 700px){
  .wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 100%;
    max-width: 100%;
    height: 100vh;
  }
  #phoneButton{
    display: grid;
  }
  #phoneInput{
    display: grid;
  }

  .registrationForm{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-self: center;
    justify-self: center;
  }
  #phone{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-self: center;
    justify-self: center;
    margin: 15px;
  }
  .registerForm{
    display: grid;
    width: 700px;
    height: 1002px;
    justify-self: center;
  }
  /*------------------------------------------main page style---------------------------------------------------*/
  .entrance{
    display: grid;
    justify-self: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    height: 25%;
    grid-gap: 10px;
  }
  .mainPageContent{
    display: grid;
    justify-self: center;
    height: 75vh;
    width: 70vw;
    max-width: 70vw;
    background: #cccbcb;
  }
  footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    width: 100%;
    max-width: 100%;
    height: 30vh;
    background: #0077aa;
    margin-bottom: -14px;
  }
/* ---------------------------------------------------end od main page style------------------------------------------------------ */

}
